*.fea
*.csv
*.npy


*.log
*.json
*.png
*.jpg
*.jpeg


*.pyc
*.pyo


.venv/
env/
venv/


.vscode/
.idea/
.claude/


.profile
.bash_profile
.bashrc
.idea
.mcp.json
.ripgreprc
.zprofile
.zshrc
.cufile.log